.content {
  /*height: 3000px;*/
  background-color: white;
}

.container-header {
  background-color: #8898FF;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-logo {
  width: 80px;
  border-radius: 15px;
}

.header-text {
  text-align: center;
  justify-content: center;
}

.appstore-link {
  text-decoration: none !important;
  color: #E41C37;
  border: 1px solid #E41C37;
  border-radius: 15px;
  padding: 10px 15px;
  background-color: rgba(201, 76, 76, 0.2);
  transition: all 0.3s ease;

  &:hover {
    color: #9A1426;
    border: 1px solid #9A1426;
    border-radius: 15px;
    padding: 10px 15px;
    background-color: rgba(201, 76, 76, 0.2);
  }
}

.curve-mask {
  position: absolute;
  bottom: 39px;
  left: 0;
  right: 0;
  width: 100%;
  height: 7vw;
  z-index: 0;
}

.header-text-title {
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding-top: 10px;
  padding-bottom: 30px;
  letter-spacing: 3px;
}

.iphone-image {
  width: 200px;
  z-index: 2;
}
.wrapper {
  position: fixed;
  width: 100%;
}
.wrapper .box {
  position: absolute;
}
.img-7{ /*bitcoin image*/
  top: 10px;
  left: 30px;
}
.img-1{ /*stocks favorite screen*/
  left: 240px;
  top: 300px;
}
.img-2{ /*apple stock chart*/
  right: 80px;
  top: 120px;
}
.img-3{ /*list screen pic*/
  right: 320px;
  top: 460px;
}
/*.img-4{
  left: 100px;
  top: 700px;
}
.img-5{
  top: 1700px;
  right: 80px;
}
.img-6{
  top: 1500px;
  left: 300px;
}*/

.quote-text {
  font-family: 'Noto Serif', serif;
  margin: 100px 50px;
  width: 50%;
  line-height: 34px;
  font-size: 19px;
}


/*container body*/

.container-body {
  /*margin-top: 300px;*/
}

.description-grid-part {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  margin: 30px 100px;
}

.icon {
  font-size: 36px;
}

.description-icon-container {
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-title {
  font-size: 25px;
  color: #2B2B2B;
  font-weight: bold;
  margin: 20px 0;
}

.descripiton-text {
  font-size: 20px;
  color: #5A5A5A;
  margin-bottom: 60px;
}


.container-bottom {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
