.content {
  height: 4000px;
}

.container-header {
  background-color: #8898FF;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .app-logo {
    width: 80px;
    border-radius: 15px;
  }

  .header-text {
    text-align: center;
    justify-content: center;
  }

  .appstore-link {
    text-decoration: none;
    color: #E41C37;
    border: 1px solid #E41C37;
    border-radius: 15px;
    padding: 10px 15px;
    background-color: rgba(201, 76, 76, 0.2);
    transition: all 0.3s ease;

    &:hover {
      color: #9A1426;
      border: 1px solid #9A1426;
      border-radius: 15px;
      padding: 10px 15px;
      background-color: rgba(201, 76, 76, 0.2);
    }
  }
}

.header-text-title {
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding-top: 10px;
  padding-bottom: 30px;
  letter-spacing: 3px;
}

.iphone-image {
  width: 200px;
}

.wrapper {
  position: fixed;
  width: 100%;
}

.wrapper .box {
  position: absolute;
}

.img-7{ /*bitcoin image*/
  top: 10px;
  left: 30px;
}
.img-1{
  left: 240px;
  top: 300px;
}
.img-2{
  right: 80px;
  top: 150px;
}
.img-3{
  right: 320px;
  top: 600px;
}
.img-4{
  left: 100px;
  top: 700px;
}
.img-5{
  top: 1700px;
  right: 80px;
}
.img-6{
  top: 1500px;
  left: 300px;
}

