<div class="container-aöö">

  <div class="container-header">
    <div class="header-text">
      <p class="header-text-title">SimpleStocks</p>
    </div>
  </div>

  <div class="container-body">

  </div>

</div>
